#card-periodontia{
    top: -15%;
    height: 650px;
    left: 550px;
    width: 400px;
    position: absolute;
    color: rgb(19, 100, 198);
    border-radius: 10px;
    font-style: italic;
}

.imagem-periodontia{
    height: 350px;
}